#cuerpo {
	background-color: #333333;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	color:#CCCCCC;
	}
#rfc{
	background-color:#262449;
	border:none;
	color:#CCCCCC;
	font-weight:400;
	font-size:24px; 
}
.SYS {
	color: #269ca0; 
	background-color:#21323c
		}
a:link {
	color: #CCCCCC;
	text-decoration:none;
}
a:visited {
	color: #CCCCCC;
	text-decoration:none;
}
a:hover {
	color: #CCCCCC;
	text-decoration:none;
}
a:active {
	color: #CCCCCC;
	text-decoration:none;
}
#footer {
 border:#000000 solid 1px;
  clear: both;
  bottom: 30px;
  margin:0 auto;
  float:inherit;
}
#pie {
  background-color: black;
  text-align:center;
  margin:0 auto;
  clear: both;
  float:inherit;

}
header{
  background-color: black;
  position:absolute;
  top: 0;
  width: 100%;
  color: white;
  text-align:left;
}
#empresa{
	padding-left:20px;
}
#titulo{
	width:40%; 
	float:left; 
	text-align:left; 
	padding-left:20px;
}
#menu{
	width:40%; 
	float:right; 
	text-align:right; 
	padding-right:20px;
}
#cont{
    position: absolute;
	top:100px;
	display:inline;
	text-align:center;
	height:100%;
	/*width:100%;*/
}
#dat{
	width:30%; 
	float:left ;
	}
.desc{
	padding:5px; 
	border:#CCCCCC solid 1px;
	color:#CCCCCC;
}
.desc:hover{
	padding:5px; 
	border:#269ca0 solid 1px;
	color:#269ca0;
	background-color:#21323c;
}